@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource-variable/montserrat';

:root {
  --primary: #17557A;
  --secondary: #8C8840;
}

body {
  font-family: 'Montserrat Variable', sans-serif;
}

.button{
  width:fit-content;
  height:fit-content;
  padding:12px 24px;
  background: var(--primary);
  color:white; 
  border:2px solid var(--primary);
  border-radius:5px;
}

.button:hover{
  background-color: white;
  color: var(--primary);
}

.button--red{
  background: red;
  border-color:red
}

.button--red:hover{
  background-color: white;
  color: red;
}